body {
  background: #f0f8ff;
  font-family: 'Arial', sans-serif;
}

.todo-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 128, 128, 0.2);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode {
  background-color: #2f4f4f;
  color: #ffffff;
}

.theme-toggle-container {
  text-align: right;
  margin-bottom: 20px;
}

.theme-toggle-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.light-mode .theme-toggle-button {
  background-color: #f0f8ff;
  color: #000000;
}

.dark-mode .theme-toggle-button {
  background-color: #4682b4;
  color: #ffffff;
}

.theme-toggle-button:hover {
  transform: translateY(-2px);
}

.theme-toggle-icon {
  margin-right: 10px;
}

.todo-title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #008080;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.todo-input {
  flex-grow: 1;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.todo-input:focus {
  border-color: #008080;
  outline: none;
}

.add-button {
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: #32cd32;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 128, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

.add-button:hover {
  background-color: #228b22;
  transform: translateY(-2px);
}

.add-button:active {
  background-color: #006400;
  transform: translateY(0);
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 12px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #f0fff0;
  color: #000000;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

.light-mode .todo-item {
  background-color: #f0fff0;
  color: #000000;
}

.dark-mode .todo-item {
  background-color: #556b2f;
  color: #ffffff;
}

.todo-item:hover {
  transform: translateY(-2px);
}

.remove-button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #ff6347;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.remove-button:hover {
  background-color: #ff4500;
  transform: translateY(-2px);
}

.remove-button:active {
  background-color: #dc143c;
  transform: translateY(0);
}